#be_banner {
	padding-top:1.8vh;
	h2, #banner_logo {display:inline; float:left;}
}

#be_banner, #sub_be_banner {
	text-align:center;
	height:auto;
	color: #fff;
	
	h3 {
		font-weight: 700;
	}
	
	blockquote {
		border:none;
		margin:1rem;
	}	
	
	blockquote:before {
	  color: #fff;
	  content: open-quote;
	  margin-right: 0.25em;
	}
	
	a {
		color: #fff;
	}
	a:hover {
		color: #fff;
		text-decoration: none;
		background-color: none;
	}
	.profile-pic {
		float: left;
		margin: 15px;
		height: 80px;
	}
	h1.username {
		text-align: left;
	}
	.user-info {
		float: left;
		display: block;
		padding-right: 10px;
	}
}	