#bible {
	.selectedVerse {background-color:$BLUE_TRANS;}
	p {
		font-size: 1.8rem;
		font-weight: 300;
		line-height: 2.7rem;
		margin-bottom: 0;
		margin-left: .7rem;
		margin-right: .7rem;
	}
	sup {
		font-size: 1.3rem;
		color: $GRAY;
	}
	
	.jesus {
		color:$RED;
		font-family: 'Lato', sans-serif;
		font-weight:100;
		}
	
}

.verse {
	margin-top: 3rem;
	font-size: 1.8rem;
	line-height: 2.7rem;
	font-weight: 300;
}

/* React.addons Transition */

.example-enter {
    opacity: 0;
    transform:   translate(-250px,0);
    transform: translate3d(-250px,0,0);
}
.example-enter.example-enter-active {
	opacity: 1;
	transform:   translate(0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave {
	opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.example-leave.example-leave-active {
	opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}

/* END React.addons Transition */