.sidebar {
	margin: 0 -15px 0 -15px;
	ol {
		color: #fff;
	}
	li a {
		line-height: 3rem;
	}
	.glyphicon {
		color: #fff;
	}
	a, button {
		padding: 0 .5rem 0 .5rem;
		color: #fff;
		fill: #fff;
		border: 2px solid #fff;
		border-radius: 8px;
		text-decoration: none;
	}
	a:hover, button:hover {
		background-color: #fff;
		border: 2px solid #fff;
		text-decoration: none;
	}
	.orangeBG a:hover, button:hover {
		color: $ORANGE;
		fill: $ORANGE;
	}
	.redBG a:hover, button:hover {
		color: $RED;
		fill: $RED;
	}
	.greenBG a:hover, button:hover {
		color: $GREEN;
		fill: $GREEN;
	}
	.blueBG a:hover, button:hover {
		color: $BLUE;
		fill: $BLUE;
	}
	.avatar {
		border: none;
	}
	a.avatar:hover {
		background-color: transparent;
		border: none;
	}
	#secondary-toggle {
		border: none;
		padding: 0;
	}
}
.sidebar p, .sidebar h2 {
	color: #fff;
	text-align: center;
}
.sidebar p {
	font-size: 1.4rem;
}
.sidebar p.small {
	font-size: 1.1rem;
}
.sidebar h2 {
	margin-top: .5rem;
	font-size: 2.5rem;
}
.sidebar-block {
	padding: 1.5rem 2.0rem 1.5rem 2.0rem;
}

#studies #content {
	float:right;
}

#studies .textbook {
	min-height:655px;
}