#tip-rss, #tip-facebook, #tip-twitter, #tip-sound-cloud,#tip-instagram {
	font-size:80%;
	position:absolute; 
	text-align:center;
	display:none;
	white-space:nowrap;
}
.social-sharing {
	width: 228px;
	margin-left: auto;
	margin-right: auto;
}
.social-sharing-buttons {
	margin: 0 4px 0 4px;
	display: inline-block;
	height: 45px;
	width: 45px;
	padding: 0px;
}
.icon {
	width: 35px;
	height: 35px;
	margin: 3px 3px 3px -2px;
}
.social-amen-form {
	display:inline;
}