/* TABLES START */
table.normal th {font-size:1em;}

table#table_progress td#todo {background-color:lightgray; border-left:none; }

th {font-size:1.4rem; text-align:center;}
table h3 {padding-left:2em;}
table h4 {padding-left:3em;}
table h5 {padding-left:4em;}

table#ntPrincipalPlaces {padding-left:0; margin-left:0; }

table {border:solid; border-collapse:collapse; border-width:.1em; margin-top:1em;}
th {border:solid; background-color:gray; border-width:.1em;}
tr {border:solid; border-width:.1em;}
td {border:solid; border-width:.1em; padding:.25em;}

table#table_progress, table#table_progress th, table#table_progress tr, table#table_progress td {border:none; background-color:transparent;}
		
table#table_progress td#progress {
/* Note: This gradient may render differently in browsers that don&quot;t support the unprefixed gradient syntax */
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #76EF1A 100%);
/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #76EF1A 100%);
/* Opera */ 
background-image: -o-linear-gradient(top left, #FFFFFF 0%, #76EF1A 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #76EF1A));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #76EF1A 100%);
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #FFFFFF 0%, #76EF1A 100%);
				
text-align:center; font-weight:bold;}

/* TABLES END */

/* TABLE : books-of-ot START */
table#books-of-ot {
	border-collapse:collapse;
	width:100%;
	max-width:1000px;
	margin-bottom:35px;
	margin-top:35px;
	border: 2px solid #eee;
}
table#books-of-ot tr{
	border:0;
	height:75px;
	vertical-align:bottom;
	margin:0;
	padding:0;
	border-image-width: 0;
}
table#books-of-ot tr.empty {
	height:2px;
}
table#books-of-ot th {
	color:black;
	font-size:29px;
	border:0;
	background-color:white;
	margin:0;
	padding:0;
	text-align:center;
	border-image-width: 0;
}

table#books-of-ot td {
	margin:0;
	padding:0;
	height:155px;
	width:75px;
	vertical-align:bottom;
	padding-bottom: 15px;
	padding-left: 1.5%;
	border:0;
	border-image-width: 0;
}

table#books-of-ot td.shelf {
	background-image:none;
	height:25px;
	border:0;
	border-bottom:0;
	border-image-width: 0;
}

table#books-of-ot td p {
	color:#F5F5DC;
	font-variant: small-caps;
	letter-spacing:1.4px;
	-webkit-text-fill-color: white; 
	-webkit-text-stroke-width: .25px;
   -webkit-text-stroke-color: black;
	writing-mode:tb-rl;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	white-space:nowrap;
	vertical-align:bottom;
	display:block;
	width:20px;
	height:20px;
	font-size:17px;
	font-weight:bold;
	text-align:right;
	margin-bottom:0;
	margin-top:10px;
}
table#books-of-ot td p.small {
	font-size:13px;
}

table#books-of-ot .book {	
	background-color:black;
	background-image:url('/assets/old-book.png');
	margin:10px;
	border:1px white solid;
	max-width:15px;
	}
/* TABLE : books-of-ot END */

/*lessons list table START*/

table.lessons-list td{
	border-color:rgb(215,215,215);
	padding:2rem;
}
/*lessons list table END*/