//
// Variables
// --------------------------------------------------


//== Colors
//
$dc-bg-color: #0082D6;

$color_correct: green;
$color_wrong: red;
$color_notgraded: blue;
$color_noquestion: gray;
$color_linkprotected: gray;

//island colors
$primary: #225533 !default;
$secondary: #0055bb !default;
$accent-warm: #bbeeff !default;
$accent-medium: #88dddd !default;
$accent-cold: #44bbcc !default;

$BLUE: 	#317FB6;
$GREEN: #00C97C;
$RED: 	#E55C46;
$ORANGE: #F9CA73; 

$font-sans: "Open Sans", Helvetica, sans-serif;

$font-serif: Arvo, Serif;

$BLUE_TRANS: 	rgba($BLUE,.45);
$GREEN_TRANS: rgba($GREEN,.45);
$RED_TRANS: 	rgba($RED,.45);
$ORANGE_TRANS: rgba($ORANGE,.45);

$BLUE_LIGHT: 	rgb(153, 204, 255);

$NAVY: 	#001F3F;
$AQUA: 	#7FDBFF;
$TEAL: 	#39CCCC;
$OLIVE: #3D9970; 
$LIME: 	#01FF70;
$YELLOW: #FFDC00; 
$MAROON: #85144B; 
$FUCHSIA: #F012BE; 
$PURPLE: #B10DC9; 
$BLACK: #111111; 
$GRAY: 	#AAAAAA;
$DARKGRAY: #A9A9A9;
$SILVER: #DDDDDD;