.textbook {
	margin: 0 -15px 0 -15px;
	counter-reset: h2;
	.content h1 {
		display:none;
	}
}
.textbook p {
	font-family: $font-sans;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.7rem;
	margin: 1.5rem 30px 0px 30px;
}
.study-default-image {
	width: 100%;
}
p.long-description {
	clear: both;
	padding-top: 1.5rem;
}
.h1-underline {
	display: block;
	float: left;
	width: 33.3333333%;
	height: 5px;
}
.h1-underline:nth-of-type(1) {
	background-color: $BLUE;
}
.h1-underline:nth-of-type(2) {
	background-color: $ORANGE;
}
.h1-underline:nth-of-type(3) {
	background-color: $GREEN;
}
.h1-box {
	float: left;
	display: block;
	width: 100%
}
.textbook h1 {
	font-family: $font-serif;
	color: #fff;
	background-color: $RED;
	font-style: normal;
	font-size: 3.5rem;
	text-align: center;
	float: right;
	display: block;
	width: 100%;
	margin: 0 0 5px 0;
	padding: 5rem 2.5rem 2.5rem 2.5rem;
}
.textbook article h1 {
	display: none;
}
.textbook h1.editor {
	background-color:$GREEN;
}
.textbook  h2:before {
	counter-increment: h2; 
	content: counter(h2) "";
	display: block;
	font-size: 5.5rem;
}
.textbook h2 {
	font-family: $font-sans;
	font-size: 3.5rem;
	color: #fff;
	background-color: $BLUE;
	text-align: center;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 20px 30px 20px 30px;
	clear: both;
}
.textbook h3 {
	color: $ORANGE;
	font-size: 2.5rem;
	font-weight: 300;
	margin: 2.5rem 30px 1rem 30px;
}
.textbook h4 {
	font-size: 2rem;
	font-weight: bold;
	margin: 2.5rem 30px 1rem 30px;
}
.textbook h5 {
	font-family: $font-sans;
	font-weight: bold;
	font-size: 1.5rem;
	margin: 2.5rem 30px 1rem 30px;
}
.textbook blockquote {
	color: $DARKGRAY;
	font-family: $font-sans;
	font-weight: 300;
	font-size: 1.5rem;
	border-left: 5px solid $ORANGE;
	line-height: 2.4rem;
	display:inline-block;
	margin: 0 20px 0 20px;

}

.textbook ul {
	margin-left: 38px;
	padding-left: 20px;
	font-size: 1.6rem;
	font-weight: 300;
}

.textbook a:link {
	color: $GREEN;
	text-decoration: underline;
}

.textbook a:hover {
	color: lighten( $GREEN, 9% );
	text-decoration: underline;
}

.textbook a:visited {
	color: darken( $GREEN, 10% );
	text-decoration: underline;
}

.article-panel {
	clear:left;
}

.study-sharing {
		width:100%;
	}
	
@media (min-width: 768px) {	
	.textbook p, .textbook h3, .textbook h4, .textbook h5, .textbook ul, .textbook blockquote {
		margin-left: 12rem;
		margin-right: 12rem;
	}
}

.textbook .h1-box small {color:white; font-size:40%; margin-bottom:-25px;}
 
:lang(swa){
	display:none;
}